.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.errors {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: red;
}

.loading {
    width: 100%;
    margin-top: 10rem;
    display: flex;
    justify-content: center;
}